<div id="actions">
  {{#results}}
    <h3>{{search.request.q}}</h3>
    {{#search.response.projects.project}}
    <div class="action">
      <p class="name"><a href="{{organization.url}}">{{organization.name}}</a></p>
      <p class="mission">{{organization.mission}}</p>
      <p class="summary">{{summary}}</p>
    </div>
    {{/search.response.projects.project}}
    {{^search.response.projects.project}}
    <div class="action">
      <p id="no-actions">Sorry we couldn't find any results.</p>
    </div>
    {{/search.response.projects.project}}
  {{/results}}
</div>