<div class="keyword">
  <p class="title">{{term}}</p>
  <ion-icon class="close hide" name="close-outline"></ion-icon>
  <div class="books-section hide">
    <div class="section-header">Books</div>
    {{#books}}
      <div class="books item" data-url="{{link}}">
        <p class="books-title element-title">{{title}} - {{author}}</p>
        <p class="books-content hide">{{description}}</p>
        <div class="overlay hide">
          <p>Learn More <ion-icon name="arrow-forward-outline"></ion-icon></p>
        </div>
      </div>
    {{/books}}
    {{^books}}
      <div class="books">Sorry, we couldn't find any books for you</div>  
    {{/books}}
  </div>
  <hr class="hide"> 
  <div class="actions-section hide">
    <div class="section-header">Projects</div>
    {{#projects}}
      <div class="action item" data-url="{{url}}">
        <p class="action-title element-title">{{title}}</p>
        <p class="action-content hide summary">{{summary}}</p>
        <div class="overlay hide">
          <p>Learn More <ion-icon name="arrow-forward-outline"></ion-icon></p>
        </div>
      </div>
    {{/projects}}
    {{^projects}}
      <div class="action">Sorry, we couldn't find any projects for you</div>
    {{/projects}}
  </div>
</div>
