<div class="keyword">
  <p class="title">{{term}}</p>
  <ion-icon class="close hide" name="close-outline"></ion-icon>
  <div class="levels hide">
    {{#books.length}}
      <div class="level">
        <p class="level-name"><ion-icon name="chevron-forward-outline"></ion-icon>Books</p>
        <div class="elements">
          {{#books}}
            <div class="books item" data-url="{{link}}">
              <p class="element-title">{{title}} - {{author}}</p>
              <p class="books-content">{{description}}</p>
              <div class="overlay hide">
                <p>Learn More <ion-icon name="arrow-forward-outline"></ion-icon></p>
              </div>
            </div>
          {{/books}}
        </div>
      </div>
    {{/books.length}}
    {{#news.length}}
      <div class="level">
        <p class="level-name"><ion-icon name="chevron-forward-outline"></ion-icon>News</p>
        <div class="elements">
          {{#news}}
            <div class="news item" data-url="{{url}}">
              <!-- Add news template here -->
              <div class="overlay hide">
                <p>Learn More <ion-icon name="arrow-forward-outline"></ion-icon></p>
              </div>
            </div>
          {{/news}}
        </div>
      </div>
    {{/news.length}}
    {{#projects.length}}
      <div class="level">
        <p class="level-name"><ion-icon name="chevron-forward-outline"></ion-icon>Projects</p>
        <div class="elements">
          {{#projects}}
            <div class="action item" data-url="{{url}}">
              <p class="element-title">{{title}}</p>
              <p class="action-content summary">{{summary}}</p>
              <div class="overlay hide">
                <p>Learn More <ion-icon name="arrow-forward-outline"></ion-icon></p>
              </div>
            </div>
          {{/projects}}
        </div>
      </div>
    {{/projects.length}}
    {{^books}}{{^news}}{{^projects}}
      <div class="error">Sorry, we couldn't find any information for this keyword</div>
    {{/projects}}{{/news}}{{/books}}
  </div>
</div>
