<div id="modal-window" class="">
  <div id="pop-up">
    <ion-icon class="close" name="close-outline"></ion-icon>
    <p id="modal-title">TITLE GOES HERE</p>
    <div id="new-input" class="pop-option">
      <p>New input?</p>
    </div>
    <div id="division">
      <hr><p>OR</p><hr>
    </div>
    <div id="old-keys" class="pop-option">
      <p>Choose old keys</p>
      <ul>
        <li class="keys-list">List of keys 1</li>
        <li class="keys-list">List of keys 2</li>
        <li class="keys-list">List of keys 3</li>
        <li class="keys-list">List of keys 4</li>
        <li class="keys-list">List of keys 5</li>
        <li class="keys-list">List of keys 6</li>
        <li class="keys-list">List of keys 7</li>
        <li class="keys-list">List of keys 8</li>
        <li class="keys-list">List of keys 9</li>
      </ul>
    </div>
  </div>
</div>
