<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Results 403</title>
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/modalWindow.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap" rel="stylesheet">
    <script type='module' src='https://unpkg.com/ionicons@5.1.1/dist/ionicons/ionicons.esm.js'></script>
    <script nomodule='' src='https://unpkg.com/ionicons@5.1.1/dist/ionicons/ionicons.js'></script>
  </head>
  <body>
    <div id="modal-window">
      <div id="pop-up">
        <p id="modal-title">Sorry, to access the results page you have to log in.</p>
        <div id="buttons">
          <a class="button" href="/">            
            <ion-icon name="arrow-back-outline"></ion-icon>
            Go back to input form
          </a>
          <a class="button" href="{{loginUrl}}">Log in</a>
        </div>
      </div>
    </div>
  </body>
</html>
