.active {
  position: absolute;
  z-index: 5;
  width: 95vw;
  height: 90vh;
  background-color: white;
  cursor: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  display: grid;
  grid: [row1-start] "title    close   " 2fr  [row1-end]
        [row2-start] "location location" 1fr  [row2-end]
        [row3-start] "levels   levels  " 20fr [row3-end]
        / 96% 4%;
  place-items: center center;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
}

.active > .title {
  padding: 3vh 0 0;
  font-weight: bold;
  font-size: 2.5vh;
  transform: rotate(0deg);
  writing-mode: horizontal-tb;
  transition: all 0.5s ease-in-out;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  font-family: 'Oswald', sans-serif;
}

.active > .levels {
  display: block;
  transition: all 0.5s ease-in-out;
  place-self: start;
}

.active .item {
  position: relative;
  display: inline-block;
  border-radius: 1vh;
  box-shadow: 0 0.1vh 0.2vw rgba(0,0,0,0.15);
  padding: 1vh 1vw;
  margin: 1.5vh 4vw;
}

.active .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 1vh;
  box-shadow: 0 0.5vh 1.5vw rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  font-weight: bold;
}

.active .element-title {
  font-weight: bold;
}

.active > .close {
  display: inline;
  grid-area: close;
  place-self: start center;
  margin: 1vh;
  font-size: 2.5vh;
  cursor: pointer;
}

@media (orientation: portrait) {
  .active {
    width: 95vw;
    height: 95vh;
  }

  .active > .title {
    font-size: 2.5vh;
  }
}

@media (any-hover: hover) {
  .active:hover {
    position: absolute;
    z-index: 5;
    width: 95vw;
    height: 90vh;
    background-color: white;
    cursor: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  
  .active .item:hover {
    cursor: pointer;
  }

  .active .item:hover > p {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
    user-select: none;
  }

  .active .item:hover > .overlay {
    opacity: 1;
  }

  .active:hover > .close {
    display: inline;
    grid-area: close;
    place-self: start center;
    margin: 1vh;
    font-size: 2.5vh;
    cursor: pointer;
  }

  @media (orientation: portrait) {   
    .active:hover {
      width: 95vw;
      height: 95vh;
    }
  }
}
