.levels {
  grid-area: levels;
  width: 100%;
}

.levels > .level:not(:last-child) {
  border-bottom: 0.05vh solid darkgray;
}

.level {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.1vh;
}

.level-name > ion-icon {
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.level-name {
  margin: 0;
  padding: 2.5vh 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.2s ease-in-out;
  font-size: 1.5vh;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.extended > .level-name {
  font-family: 'Oswald', sans-serif;
  font-size: 2.1vh;
  letter-spacing: 0.1em;
  background-color: rgba(0, 0, 0, 0.1);
}

.extended > .level-name > ion-icon {
  transform: rotate(90deg);
}

.elements {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.2s linear;
}

.extended > .elements {
  opacity: 1;
  max-height: 50vh;
  overflow: auto;
}

@media (orientation: portrait), (max-width: 400px) {
  .level-name {
    font-size: 2vh;
  }
}

@media (any-hover: hover) {
  .levels > .level:hover {
    border-bottom-color: gray;
  }
}
