body {
  background: linear-gradient( to right,
    var(--upperColor) 0, 
    var(--upperColor) 50vw, 
    var(--lowerColor) 50vw, 
    var(--lowerColor));
  display: grid;
  grid: [row1-start] "header content" 90vh [row1-end]
        [row2-start] "footer footer " 10vh [row2-end]
        / 50vw 50vw;
  place-items: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-title {
  font-size: 2em;
  font-weight: bolder;
}

#keyword-form > textarea {
  resize: none;
  width: 40vw;
  height: 20vh;
}

@media (orientation: portrait) {
  body {
    background: linear-gradient(
      var(--upperColor) 0, 
      var(--upperColor) 33vh, 
      var(--lowerColor) 33vh, 
      var(--lowerColor));
    display: grid;
    grid: [row1-start] "header " 20vh [row1-end]
          [row2-start] "content" 70vh [row2-end]
          [row3-start] "footer " 10vh [row3-end]
          / 100vw;
  }
}
