:root {
  --thickness: max(min(1vmax, 1.6vh), 0.8rem);
  --diameter: calc(var(--thickness) * 3);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#loader {
  border-radius: 50%;
  border-top: var(--thickness) solid rgb(53, 168, 83);
  border-right: var(--thickness) solid rgb(251, 188, 1);
  border-bottom: var(--thickness) solid rgb(234, 67, 53);
  border-left: var(--thickness) solid rgb(66, 133, 244);
  width: var(--diameter);
  height: var(--diameter);
  animation: spin 4s linear infinite;
}

#loading-text {
  font-size: max(min(2.3vmax, 1.7vh), 1.2rem);
  letter-spacing: 0.025em;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
