#keywords > hr {
  margin: 0 3vw;
  height: max(50vh, 25rem);
  border: 0.1vw solid hsl(var(--lowerColor-hs), calc(var(--lowerColor-l) - 30%));
}

.location {
  background-color: lightgray;
}

.subtitle {
  grid-area: location;
  font-size: max(1.5vh, 1rem);
  margin: 0 0 auto;
}

.location.active > .subtitle {
  display: block;
}

@media (orientation: portrait), (max-width: 400px) {
  #keywords > hr {
    margin: 1.5vh 0;
    width: 50%;
    height: auto;
  }
}

@media (any-hover: hover) and (orientation: landscape) {
  .location:hover {
    background-color: lightgray;
  }

  .location:hover > .subtitle {
    display: block;
  }
}
