#menu {
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  font-size: 45%;
  margin: 1.5vh 3vw;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav > p {
  display: inline;
  margin: 0;
}

#open-modal > ion-icon {
  font-size: 130%;
}
