#modal-window:not(.hide) {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(1vmin) brightness(60%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

#pop-up {
  position: absolute;
  max-width: 60vw;
  height: auto;
  background-color: var(--lowerColor);
  box-shadow: 0.01vh 0.01vw 0.2vmax rgba(0,0,0,0.25);
  border-radius: min(0.6vmax, 1vh);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#pop-up > .close {
  position: relative;
  top: 1vh;
  right: -45%;
  cursor: pointer;
  font-size: 2.5vh;
}

#modal-title {
  color: var(--upperColor);
  font-weight: bold;
  margin: 1vh 0;
  font-size: 2.5vh;
}


#old-keys {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5vh;
  max-width: 95%;
  text-align: center;
}

.keys-list {
  list-style-type: none;
  border: 0.1vmin solid var(--upperColor);
  margin: 0.2vh 0.6vw;
  cursor: pointer;
  border-radius: min(0.3vmax, 0.5vh);
  display: flex;
}

.keys-list > p {
  margin: 0;
  padding: 0.1vh 0.3vw;
  display: inline;
}

.keys-list > .ion-icon {
  border-right: 0.1vmin solid var(--upperColor);
  color: var(--upperColor);
  display: flex;
  align-items: center;
}

@media (orientation: portrait) {
  #pop-up {
    max-width: 75vw;
  }
}

@media (any-hover: hover){
  .keys-list > *:hover {
    background-color: var(--upperColor);
    color: white;
  }
}
