.profile {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin: 2vh 1vw;
  padding: 0.5vh 1vw;
  min-width: max(350px, 20vw);
  width: auto;
  max-width: 35vw;
  display: none;
}

.extended .profile {
  display: block;
}

.profile-name {
  font-weight: bold;
  font-size: 130%;
}

.profile-img {
  width: auto;
  height: auto;
  max-height: 15vh;
  max-width: 50%;
  min-width: 35%;
}
