#progress-bar {
  margin: 1vh 0 0;
  width: 30%;
  height: 1.5vh;
  position: relative;
}

#bar {
  width: 100%;
  background-color: lightgray;
}

#progress {
  width: 0;
  background-color: rgba(255,0,0,0.5);
}

#bar,
#progress {
  position: absolute;
  height: 100%;
  border-radius: 1vh;
}

@media (orientation: portrait), (max-width: 400px) {
  #progress-bar {
    width: 60%;
    position: absolute;
    top: calc(var(--height-ratio) * 1);
    height: 1vh;
  }
}
