.body {
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) 50vh, 
    var(--lowerColor) 50vh, 
    var(--lowerColor));
  display: grid;
  grid: [row1-start] "header " 25vh [row1-end]
        [row2-start] "content" 65vh [row2-end]
        [row3-start] "footer " 10vh [row3-end]
        / 1fr;
  place-items: center center;
}

.body.focus {
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) 49.5vh, 
    var(--lowerColor) 50.5vh, 
    var(--lowerColor));
  grid: [row1-start] "content " 100vh [row1-end]
        / 1fr;
  place-items: stretch;
  transition: all 0.3s ease-in-out;
}

#keywords {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.body.focus #keywords {
  align-items: center;
}

.keyword {
  margin: 0 0.5vw;
  width: 4vw;
  height: 50vh;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  border-radius: 3vh;
  display: flex;
  transition: all 0.5s ease-out;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.keyword > .title {
  margin: 0 0;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  transition: all 0.3s ease-in-out;
  height: auto;
  font-size: 1.2vw;
}

.section-header {
  font-weight: bold;
}

.error {
  font-size: 1.5vh;
}

.item {
  width: 100%;
  margin: 0.5vh 0;	
  transition: all 0.3s ease-in-out;
  font-size: 1.3vh;
}

.item > p {
  margin: 0.15vh;
}

@media (orientation: portrait) {
  .body {
    background: linear-gradient(var(--upperColor) 0, 
      var(--upperColor) 33vh, 
      var(--lowerColor) 33vh, 
      var(--lowerColor));
  }

  body.focus #keywords {
    justify-content: center;
  }
  
  #keywords {
    flex-direction: column;
    align-items: center;
  }
  
  .keyword {
    margin: 0.5vh 0;
    width: 50vw;
    height: 4vh;
  }

  .keyword > .title {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    width: auto;
    font-size: 1.5vh;
  }
}

@media (any-hover: hover) {
  .keyword:hover { 
    width: 40vw;
    cursor: pointer;
  }
  
  .keyword:hover:not(.location) {
    display: grid;
    grid: [row1-start] "title   close  " auto [row1-end]
          [row2-start] "books   books  " 1fr  [row2-end]
          [row3-start] "line1   line1  " auto [row3-end]
          [row4-start] "news    news   " 1fr  [row4-end]
          [row5-start] "line2   line2  " auto [row5-end]
          [row6-start] "actions actions" 1fr  [row6-end]
          / 96% 4%;
    place-items: center center;
    font-weight: normal;
  }
  
  .keyword:hover > .title {
    padding: 3vh 0;
    font-weight: bold;
    font-size: 2.5vh;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    transition: all 0.5s ease-in-out;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    font-family: 'Oswald', sans-serif;
  }

  .keyword:hover > .hide:not(.section-headers + .close) {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  
  .keyword:hover > hr {
    display: block;
    width: 70%;
  }

  .keyword:hover > .line1 {
    grid-area: line1;
  }

  .keyword:hover > .line2 {
    grid-area: line2;
  }

  .keyword:hover > .topic-section {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
  }

  .keyword:hover > .topic-section:hover {
    overflow: auto;
  }

  .keyword:hover > .books-section {
    grid-area: books;
  }

  .keyword:hover > .news-section {
    grid-area: news;
  }

  .keyword:hover > .actions-section {
    grid-area: actions;
  }

  @media (orientation: portrait) {
    .keyword:hover {
      width: 60vw;
      height: 40vh;
    }
  }
}
