.body {
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) 50vh, 
    var(--lowerColor) 50vh, 
    var(--lowerColor));
  display: grid;
  grid: [row1-start] "header " 25vh [row1-end]
        [row2-start] "content" 65vh [row2-end]
        [row3-start] "footer " 10vh [row3-end]
        / 1fr;
  place-items: center center;
}

.body.focus {
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) 49.5vh, 
    var(--lowerColor) 50.5vh, 
    var(--lowerColor));
  grid: [row1-start] "content " 100vh [row1-end]
        / 1fr;
  place-items: strech;
  transition: all 0.3s ease-in-out;
}

#keywords {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.body.focus #keywords {
  align-items: center;
}

.keyword {
  margin: 0 0.5vw;
  width: 4vw;
  height: 50vh;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  border-radius: 3em;
  display: flex;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.keyword > .title {
  margin: 0 0;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  transition: all 0.3s ease-in-out;
  height: auto;
}

.active {
  position: absolute;
  z-index: 5;
  width: 95vw;
  height: 90vh;
  background-color: white;
  cursor: auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  display: grid;
  grid: [row1-start] "title   close  " auto [row1-end]
        [row2-start] "news    news   " 1fr  [row2-end]
        [row3-start] "line    line   " auto [row3-end]
        [row4-start] "actions actions" 1fr  [row4-end]
        / auto 3em;
  place-items: center center;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
}

.active > .title {
  padding: 3vh 0;
  font-weight: bold;
  font-size: 1.5em;
  transform: rotate(0deg);
  writing-mode: horizontal-tb;
  transition: all 0.5s ease-in-out;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: span 2;
  font-family: 'Oswald', sans-serif;
}

.active .hide {
  display: block;
  transition: all 0.5s ease-in-out;
}

.section-header {
  font-weight: bold;
}

.active .section-header {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 1.6em;
}

.active > hr {
  display: block;
  grid-area: line;
  width: 70%;
}

.active > .news-section,
.active > .actions-section {
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5vw;
  box-sizing: border-box;
  overflow: hidden;
}

.active > .news-section,
.active > .actions-section {
  overflow: auto;
}

.active > .news-section {
  grid-area: news;
}

.active > .actions-section {
  grid-area: actions;
}

.item {
  width: 100%;
  margin: 0.5vh 0;	
  transition: all 0.3s ease-in-out;
}

.active .item {
  position: relative;
  display: inline-block;
  border-radius: 0.5em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  padding: 0 1vw;
}

.active .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
  font-size: 200%;
  font-weight: bold;
}

.active .news-title,
.active .action-title {
  font-weight: bold;
}

.active > .close {
  display: inline;
  grid-area: close;
  place-self: start center;
  margin: 1em 0;
  font-size: 1.5em;
  cursor: pointer;
}

@media (orientation: portrait) {
  .body {
    background: linear-gradient(var(--upperColor) 0, 
      var(--upperColor) 33vh, 
      var(--lowerColor) 33vh, 
      var(--lowerColor));
  }

  body.focus #keywords {
    justify-content: center;
  }
  
  #keywords {
    flex-direction: column;
    align-items: center;
  }
  
  .keyword {
    margin: 0.5vh 0;
    width: 50vw;
    height: 4vh;
  }

  .keyword > .title {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    width: auto;
  }
  
  .active {
    width: 95vw;
    height: 95vh;
  }
}

@media (any-hover: hover) {
  .keyword:hover { 
    width: 40vw;
    cursor: pointer;
  }
  
  .active:hover {
    position: absolute;
    z-index: 5;
    width: 95vw;
    height: 90vh;
    background-color: white;
    cursor: auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
  }
  
  .keyword:hover {
    display: grid;
    grid: [row1-start] "title   close  " auto [row1-end]
          [row2-start] "news    news   " 1fr  [row2-end]
          [row3-start] "line    line   " auto [row3-end]
          [row4-start] "actions actions" 1fr  [row4-end]
          / auto 3em;
    place-items: center center;
    transition: all 0.3s ease-in-out;
    font-weight: normal;
  }
  
  .keyword:hover > .title {
    padding: 3vh 0;
    font-weight: bold;
    font-size: 1.5em;
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    transition: all 0.5s ease-in-out;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    font-family: 'Oswald', sans-serif;
  }

  .keyword:hover > .hide {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  
  .keyword:hover > hr {
    display: block;
    grid-area: line;
    width: 70%;
  }

  .keyword:hover > .news-section,
  .keyword:hover > .actions-section {
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
  }

  .keyword:hover > .news-section:hover,
  .keyword:hover > .actions-section:hover {
    overflow: auto;
  }


  .keyword:hover > .news-section {
    grid-area: news;
  }

  .keyword:hover > .actions-section {
    grid-area: actions;
  }
  .active .item:hover {
    cursor: pointer;
  }

  .active .item:hover > p {
    color: transparent;
    text-shadow: 0 0 5px rgba(0,0,0,0.7);
    user-select: none;
  }

  .active .item:hover > .overlay {
    opacity: 1;
  }
  .keyword:hover > .close {
    display: none;
  }

  .active:hover > .close {
    display: inline;
    grid-area: close;
    place-self: start center;
    margin: 1em 0;
    font-size: 1.5em;
    cursor: pointer;
  }

  @media (orientation: portrait) {
    .keyword:hover {
      width: 60vw;
      height: 40vh;
    }
    
    .active:hover {
      width: 95vw;
      height: 95vh;
    }
  }
}
