body:not(.loading) {
  justify-content: start;
}

#real-body {
  height: calc(var(--height-ratio) * 10);
}

.body {
  justify-self: start;
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) calc(var(--height-ratio) * 5), 
    var(--lowerColor) calc(var(--height-ratio) * 5), 
    var(--lowerColor) calc(var(--height-ratio) * 5));
  display: grid;
  grid: [row1-start] "header " calc(var(--height-ratio) * 2.5) [row1-end]
        [row2-start] "content" calc(var(--height-ratio) * 6.5) [row2-end]
        [row3-start] "footer " calc(var(--height-ratio) * 1.0) [row3-end]
        / 1fr;
  place-items: center center;
}

.body.focus {
  background: linear-gradient(var(--upperColor) 0, 
    var(--upperColor) calc(var(--height-ratio) * 5 - 0.5vh), 
    var(--lowerColor) calc(var(--height-ratio) * 5 + 0.5vh), 
    var(--lowerColor));
  grid: [row1-start] "content " calc(var(--height-ratio) * 10) [row1-end]
        / 1fr;
  place-items: stretch;
  transition: all 0.3s ease-in-out;
}

#header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

#title {
  font-size: max(10vh, 5rem);
  margin: calc(var(--height-ratio) / 2) 0 0;
}

#keywords {
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: start;
}

.body.focus #keywords {
  align-items: center;
  justify-content: center;
}

.keyword {
  margin: 0 0.5vw;
  width: 4vw;
  height: max(50vh, 25rem);
  background-color: white;
  box-shadow: 0.01vh 0.01vw 0.2vmax rgba(0,0,0,0.25);
  border-radius: 2.5em;
  display: flex;
  transition: all 0.5s ease-out;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}

.keyword > .title {
  margin: 0 0;
  transform: rotate(180deg);
  writing-mode: vertical-rl;
  transition: all 0.3s ease-in-out;
  height: auto;
  font-size: 1.2vw;
  color: hsl(var(--upperColor-hs), 20%);
}

.section-header {
  font-weight: bold;
}

.error {
  font-size: max(1.5vh, 1.3rem);
  text-align: center;
}

.item {
  width: 100%;
  margin: 0.5vh 0;	
  transition: all 0.3s ease-in-out;
  font-size: max(1.3vh, 1rem);
  display: none;
}

.extended .item {
  display: inline-block;
}

.item > p {
  margin: 0.15vh;
  font-size: max(min(1.2vh, 1.5vmin), 1rem);
  text-align: left;
}

.books > .level-name {
  color: var(--booksColor);
  background-color: hsl(var(--booksColor-hs), 90%);
}

.news > .level-name {
  color: var(--newsColor);
  background-color: hsl(var(--newsColor-hs), 90%);
}

.actions > .level-name {
  color: var(--actionsColor);
  background-color: hsl(var(--actionsColor-hs), 90%);
}

.extended.books > .level-name {
  background-color: hsl(var(--booksColor-hs), 85%);
}

.extended.news > .level-name {
  background-color: hsl(var(--newsColor-hs), 85%);
}

.extended.actions > .level-name {
  background-color: hsl(var(--actionsColor-hs), 85%);
}

@media (orientation: portrait), (max-width: 400px) {
  .body {
    background: linear-gradient(var(--upperColor) 0, 
      var(--upperColor) calc(var(--height-ratio) * 2.5), 
      var(--lowerColor) calc(var(--height-ratio) * 2.5), 
      var(--lowerColor));
  }

  body.focus #keywords {
    justify-content: center;
  }
  
  #title {
    font-size: var(--height-ratio);
    margin: var(--height-ratio);
  }

  #keywords {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .keyword {
    margin: 0.5vh 0;
    width: 50vw;
    height: auto;
    min-height: 1.5rem;
    flex-grow: 0.3;
  }

  .keyword > .title {
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    width: auto;
    font-size: max(1.5vh, 1rem);
    text-align: center;
  }
  
  #footer {
    place-self: start;
    height: auto;
  }
}

@media (any-hover: hover) and (orientation: landscape) {
  .keyword:hover { 
    width: 40vw;
    cursor: pointer;
    display: grid;
    grid: [row1-start] "title    close   " 2fr  [row1-end]
          [row2-start] "location location" 1fr  [row2-end]
          [row3-start] "levels   levels  " 20fr [row3-end]
          / 96% 4%;
    place-items: center center;
    transition: all 0.3s ease-out;
    font-weight: normal;
  }
  
  .keyword:hover > .title {
    padding: 3vh 0 0;
    font-weight: bold;
    font-size: max(2.5vh, 2rem);
    transform: rotate(0deg);
    writing-mode: horizontal-tb;
    transition: all 0.5s ease-in-out;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
    font-family: 'Oswald', sans-serif;
  }

  .keyword:hover > .levels {
    display: block;
    transition: all 0.5s ease-in-out;
    grid-area: levels;
    width: 100%;
  }

  .keyword:hover > .levels > .level:not(:last-child) {
    border-bottom: 1px solid darkgray;
  }
  
  .keyword:hover .level {
    transition: all 0.5s ease-in-out;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: max(1.1vh, 1rem);
  }
  
  .keyword:hover ion-icon {
    transform: rotate(0deg);
    transition: transform 0.2s ease-in-out;
  }

  @media (orientation: portrait), (max-width: 400px) {
    .keyword:hover {
      width: 60vw;
      height: 40vh;
    }
  }
}
